@{
    ViewData["Title"] = "Error - Not Found";
}
<div class="page-single">
    <div class="page page-error">
        <h2>Error - 404 Not Found</h2>
        <img src="~/images/error-404.svg" width="128" alt="" /><br />
        Opss, look like you have been lost so far<br />
        Please, Go back to <a asp-controller="Home" asp-action="Index">the right way</a>
    </div>

</div>