@{
    object[][] MenuSales = {
        new object[] { "Raws", "Sales Summary by Product Type", 11 },
        new object[] { "Annual_Summary", "Yearly Sales Summary by Product Type", 12 },
        new object[] { "Usd_Qty", "Sales Summary USD Amount & Quantity", 13 },
        new object[] { "Denim", "Denim Sales Summary", 14 },
        new object[] { "Prod_Group", "Sales Summary by Product Nature", 15 },
        new object[] { "Currency", "Sales Summary Classfied by Sales Original Currency", 16 },
        new object[] { "Destination", "Sales Summary by Destination", 17 },
        new object[] { "Production", "Yearly Sales Summary", 18 },
        new object[] { "Customer12", "Sales Summary by Customer in the last 12 Months", 19 },
        new object[] { "Customer24", "Sales Summary by Customer in the last 24 Months", 20 },
        new object[] { "DenimYard", "Sales Denim Yardage in the last 8 Months", 21 },
        new object[] { "#dl", "Sales Detail in Excel Format", 22 }
    };
}


@if (ViewData["MenuState"] == null) {
    <li>
        <a asp-controller="Home" asp-action="Index">Home</a>
    </li>

    @if (ViewData["UA"] != null) {
        //@if () {
        bool HasSalesAccess = false;
        foreach (object[] menu in MenuSales) {
            foreach (string access in (string[])ViewData["UA"]) {
                if (access == menu[2].ToString() || access == "*") {
                    if (!HasSalesAccess) {
                        HasSalesAccess = true;
    @:<li class="dropdown">
        <a href="#0">Sales</a>
        @:<ol class="dropdown-menu">
                    }
            <li><a href="~/@(menu[0].ToString().Substring(0,1) == "#" ? Html.Raw("files/SALES_DETAIL_IN_" + DateTime.Now.Year + ".xlsx") : Html.Raw("Reports/Sales/" + (string)menu[0]))">@((string)menu[1])</a></li>
                    }
                }
            }
            if (HasSalesAccess == true) {
        @:</ol>
    @:</li>
        }
    }
        @if (ViewData["AccessMaster"] != null)
            @if ((bool)ViewData["AccessMaster"]) {
                <li class="dropdown">
                    <a href="#0">Master</a>
                    <ol class="dropdown-menu">
                        <li><a asp-controller="User" asp-action="Index">Users</a></li>
                    </ol>
                </li>}
            <li class="dropdown" href="#0">
                <a href="#0" style="padding: 0"><img src="~/images/user-default.svg" width="24" style="padding: 9px"></a>
                <ol class="dropdown-menu">
                    <li id="change_pw">
                        <a href="#change_pw">Change Password</a>
                    </li>
                    <li id="change_lang">
                        <a href="#change_lang">Language</a>
                    </li>
                </ol>
            </li>
            <!--
            -->
            <a asp-controller="User" asp-action="Logout">
                <img src="~/images/power-sign.svg" width="24" alt="">
            </a>

            <script>
        $(document).ready(function () {
            $('#change_pw').on('click', function () {
                if ($('#cp-pop').length > 0) {
                    $('#cp-pop').dxPopup('show');
                    return;
                }
                showLoading();
                $.ajax({
                    url: "@ViewData["BaseUrl"]/api/users/form/change_password",
                    method: 'GET',
                    success: function (data, status, xhr) {
                        hideLoading();
                        if (status == "success") {
                            $('body').append(data);
                            $('#cp-pop').dxPopup('show');
                        }
                    },
                    error: function (xhr, status, err) { hideLoading(); ApiFetchError(); }
                });
            });
        });
            </script>
        }
