@{
    Layout = null;
    //ViewData[""]
}

<script>
    $(document).ready(function () {
        /*$('#fb-manager').dxFileManager({
            fileProvider: new DevExpress.FileProviders.WebApi({
                endpointUrl: "@@ViewData["BaseUrl"]/api/files/sales_detail"
            }),
            //currentPath: "Widescreen",
            permissions: {
                download: true
            },
            itemView: {
                mode: 'thumbnails',
                showFolders: false, showParentFolder: false
            },
            selectionMode: 'single'
        });*/
        SendAPI("", "@ViewData["BaseUrl"]/api/files/sales_detail", false, function (data, status, xhr) {
            if (data.status == "error") {
                $('#fb-pop').dxPopup('hide');
                showAlert("Error", data.desc);
            } else if (data.status == "success") {
                for (var files in data.files) {
                    var div = "<div class='item'>" +
                        "<img src='@ViewData["BaseUrl"]/images/" + data.files[files].Ico + "'/>" +
                        "<div class='item-title'>"+ data.files[files].Filename +"</div>" +
                        "</div>"
                    $("#fb-manager").append($(div));
                }
            }
        }, function (xhr, status, err) {

        })
    });

</script>

@(Html.DevExtreme().Popup()
    .ID("fb-pop").Title((string)ViewData["Title"])
    .Visible(false).CloseOnOutsideClick(false)
    .ShowCloseButton(true)
    .Content(
@<div>
    <div id="fb-manager" class="browser">

    </div>
</div>)
//.Width("500px").Height("350px")
)

<style>
    
</style>