@{
    ViewData["Title"] = "Error - Unauthorized";
}


<div class="page-single">
    <div class="page page-error">
        <h2>Error - 401 Unauthorized</h2>
        <img src="~/images/error-401.svg" width="128" alt="" /><br />
        You doesn't have right permission to access this page.<br /> 
        If you think you are proper enough to access it, please contact current active <a href="mailto:edp@tyfountex.com">administrator</a>.
    </div>
</div>