<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" 
                  stdoutLogFile=".\Logs\Console\stdout" />
      <modules>
        <remove name="DefaultAuthentication" />
        <remove name="FormsAuthentication" />
        <remove name="Profile" />
        <remove name="RoleManager" />
        <remove name="ScriptModule-4.0" />
        <remove name="ServiceModel-4.0" />
        <remove name="UrlAuthorization" />
        <remove name="WindowsAuthentication" />
      </modules>
    </system.webServer>
  </location>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>